/**
 * For more details on how to configure Wrangler, refer to:
 * https://developers.cloudflare.com/workers/wrangler/configuration/
 */
{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "jobjournal",
  "main": "./src/worker/index.ts",
  "compatibility_date": "2026-03-19",
  "compatibility_flags": [
    "nodejs_compat",
    "nodejs_compat_populate_process_env",
  ],
  "observability": {
    "enabled": true,
  },
  "upload_source_maps": true,
  "assets": {
    "directory": "./dist/client",
    "not_found_handling": "single-page-application",
  },
  "hyperdrive": [
    {
      "binding": "HYPERDRIVE",
      "id": "YOUR_HYPERDRIVE_ID",
    },
  ],
  "env": {
    "production": {
      "vars": {
        "VITE_NEON_AUTH_URL": "<neon auth url>"
      },
    },
  },
}
